@use '@/shared/button/Button.module.scss' as button;

.compareButton {
  @include button.button-style(
    $background: $black-450,
    $border: $border-blue,
    $radius: $radius-common,
    $width: 250px,
    $height: 65px,
    $padding: 0,
    $color: $blue
  );
  display: flex;
}
.reviewButton {
  @include button.button-style(
    $background: $gradient,
    $border: $border-blue,
    $radius: $radius-common,
    $width: 350px,
    $height: 65px,
    $padding: 0,
    $color: $white
  );
  display: flex;
}
.editButton {
  @include button.button-style(
    $background: $black-350,
    $border: 1px solid $white,
    $radius: $radius-common,
    $width: 80px,
    $height: 65px,
    $padding: 0,
    $color: $white
  );
  display: flex;
}
