@use '@/shared/button/Button.module.scss' as button;

.form {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 280px auto auto;
}

.button {
  @include button.button-style();
}
