@use '@/shared/button/Button.module.scss' as button;

.filePreviewsContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.singleFilePreview {
  position: absolute;
  top: 0;
  left: 0;
}

.filePreviewsWrapper {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  border-radius: $radius-common;
  position: relative;
  overflow: hidden;

  > img {
    object-fit: cover;
  }
}

.deleteBtn {
  @include button.button-style(
    $width: 20px,
    $height: 20px,
    $padding: 4px,
    $background: rgba(0, 0, 0, 0.5),
    $radius: $radius-common
  );
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 5px;
}
