@use '../Input.module.scss' as input;

@mixin label-style($color: $white, $font-size: 16px, $font-weight: 400) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

.label {
  @include label-style();
}


.fileLabel {
  position: sticky;
  top: 0;
  left: 0;
  display: block;
  @include input.input-style($width: 160px, $height: 160px, $padding: 63px);
  cursor: pointer;
}

// .singleFileLabel {
//   @include input.input-style($width: 100%, $height: 100%, $padding: 63px);
//   cursor: pointer;
// }
