@use '@/asset/variables' as *;

@mixin input-style(
  $color: $white,
  $font-size: 16px,
  $font-weight: 400,
  $background-color: $black-350,
  $width: 100%,
  $height: 70px,
  $padding: $pad-input,
  $outline: $border-black,
  $focus-outline: $border-blue,
  $border-radius: $radius-common
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  background-color: $background-color;
  width: $width;
  height: $height;
  padding: $padding;
  outline: $outline;
  border-radius: $border-radius;

  &:focus {
    outline: $focus-outline;
  }

  &[type='file'] {
    display: none;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.fileInput {
    flex-direction: row;
  }
}

.inputWrapper {
  position: relative;
}

.input {
  @include input-style();
}

.errorStatus {
  outline: $border-red;
}

.textCount {
  @include innerLayout-style(
    $top: 50%,
    $right: 20px,
    $transform: translateY(-50%)
  );
}
