@use '../input/Input.module.scss' as input;

.textareaWrapper {
  position: relative;
}

.textarea {
  @include input.input-style($height: 160px, $padding: 20px 20px 40px 20px);
  resize: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.textCount {
  @include innerLayout-style($bottom: 20px, $right: 20px);
}
