.productId {
  color: $white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}
.productTop {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
//   justify-content: flex-end;
//   align-items: flex-start;
//   gap: 80px;
// >>>>>>> develop
}
.productDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.buttonContain {
  display: flex;
  &.expandedButtons {
    justify-content: flex-end;
    gap: 10px;
  }

  & {
    gap: 25px;
    justify-content: flex-end;
  }
}

.productDetailInfo2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.whatIsThis {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.reviewContain {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
