.topWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: $white;

  > span {
    color: transparent;
    background: linear-gradient(91deg, #5097fa, #5363ff);
    background-clip: text;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  grid-auto-rows: minmax(200px, auto);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}
