.wrapper {
  padding: 20px;
}

.topWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: $white;
}
.mainTitle2 {
  font-size: 24px;
  font-weight: bold;
  color: $blue;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
