.wrapper {
  padding: 20px;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 카드 */
  grid-gap: 20px; /* 항목 간격 */
  margin-top: 20px;
  grid-auto-rows: minmax(200px, auto); /* 세로 크기 자동 조정 */
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #999;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서는 2열로 변경 */
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr; /* 작은 화면에서는 1열로 변경 */
  }
}
