@use '@/asset/variables' as *;

@mixin dropdown-style(
  $display: flex,
  $width: 360px,
  $padding: 10px,
  $flex-direction: column,
  $align-items: flex-start,
  $gap: 5px,
  $border-radius: 8px,
  $border: 1px solid $black-200,
  $background: $black-350,
  $color: $dark-gray,
  $font-size: 14px,
  $font-style: normal,
  $font-weight: 400,
  $line-height: 20px,
  $margin-top: 5px,
) {
  display: $display;
  width: $width;
  padding: $padding;
  flex-direction: $flex-direction;
  align-items: $align-items;
  gap: $gap;
  border-radius: $border-radius;
  border: $border;
  background: $background;
  color: $color;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  margin-top: $margin-top;
}

.dropdown {
  @include dropdown-style();
}

@mixin item-style(
  $width: 100%,
  $border-radius: 6px,
  $background: $black-350,
  $display: flex,
  $padding: 6px 20px,
  $align-items: center,
  $color: $dark-gray,
  $font-size: 14px,
  $font-style: normal,
  $font-weight: 400,
  $line-height: 20px
) {
  width: $width;
  border-radius: $border-radius;
  background: $background;
  display: $display;
  padding: $padding;
  align-items: $align-items;
  color: $color;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;

  &:hover {
    background: $black-200;
    color: $white;
  }
}

.item {
  @include item-style();
}

.visible {
  animation: fadeIn 0.3s;
}

.hidden {
  animation: fadeOut 0.3s;
}
