@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import '@/asset/reset.scss';

body {
  font-family: Pretendard;
}

button,
input,
select,
textarea {
  appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
