.layout {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  gap: 60px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 1fr;
  grid-template-areas: 'aside main article';

  @include tablet {
    gap: 40px 25px;
    grid-template-columns: 180px, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'aside article'
      'aside main';
  }

  @include mobile {
    padding: 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'article'
      'main';
  }
}

.aside {
  grid-area: aside;
  width: 220px;
  height: 100%;
  margin: 0 auto;
  > div {
    position: sticky;
    top: 145px;
    z-index: 1;

    @include tablet {
      top: 125px;
    }
  }

  @include tablet {
    width: 160px;
  }

  @include mobile {
    display: none;
  }
}

.main {
  grid-area: main;

  @include mobile {
    margin: 0 auto;
  }
}

.article {
  grid-area: article;
  width: 250px;
  height: 100%;
  > div {
    position: sticky;
    top: 145px;
    z-index: 1;
  }

  @include tablet {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;

    > div {
      position: static;
    }
  }

  @include mobile {
    margin-top: 30px;
  }
}
