@use '@/shared/button/Button.module.scss' as button;

.buttonContain {
  display: flex;
  flex-direction: column;
}

.customButton {
  @include button.button-style(
    $color: $black,
    $background: $gradient,
    $height: 100px,
    $width: 100px,
    $padding: $pad-button,
    $radius: $radius-common,
    $border: $border-none,
    $justify-content: center,
    $align-items: center,
    $font-size: 20px,
    $font-weight: 400
  );
}

.customButton2 {
  @include button.button-style(
    $color: $white,
    $background: $gray,
    $padding: $pad-menu,
    $radius: $radius-category-filter,
    $border: $border-none,
    $height: 50px,
    $width: 100px,
    $justify-content: center,
    $align-items: center,
    $font-size: 10px,
    $font-weight: 600
  );
}
