@use '@/asset/variables' as *;

@mixin hover-style($hover-bg, $hover-color, $border-radius, $transition-time) {
  &:hover {
    background-color: $hover-bg;
    border-radius: $border-radius;
    color: $hover-color;
    transition: background-color $transition-time ease;
  }
}

@mixin innerLayout-style(
  $position: absolute,
  $top: auto,
  $bottom: auto,
  $left: auto,
  $right: auto,
  $transform: none,
  $color: $dark-gray,
  $background-color: inherit
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  transform: $transform;
  color: $color;
  background-color: $background-color;
}

@mixin form-style(
  $width: 100%,
  $display: grid,
  $grid-template-columns: none,
  $column-gap: 0,
  $grid-template-rows: none,
  $row-gap: 0
) {
  width: $width;
  display: $display;
  grid-template-columns: $grid-template-columns;
  column-gap: $column-gap;
  grid-template-rows: $grid-template-rows;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin submit-button(
  $width,
  $height,
  $font-weight,
  $font-size,
  $backround,
  $padding
) {
  @include button.button-style(
    $width,
    $height,
    $font-weight,
    $font-size,
    $backround,
    $padding
  );

  &:hover {
    @include hover-style($hover-bg: linear-gradient(90deg, #3a7bc7, #3c50e0));
  }
}

@mixin tablet {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
