$black-500: #17171c;
$black-450: #1c1c22;
$black-400: #181d26;
$black-350: #252530;
$black-300: #2e2e3a;
$black-200: #353542;

$dark-gray: #6e6e82;
$gray: #9fa6b2;
$white: #f1f1f5;

$indigo: #5363ff;
$blue: #5097fa;
$gradient: linear-gradient(91deg, $blue 0%, $indigo 100%);

$yellow: #ffc83c;
$green: #05d58b;
$pink: #ff2f9f;
$red: #ff0000;

$radius-common: 8px;
$radius-rank: 50px;
$radius-category-small: 6px;
$radius-category-filter: 100px;
$radius-modal: 16px;

$border-none: none;
$border-red: 1px solid $red;
$border-black: 1px solid $black-200;
$border-blue: 1px solid $blue;

$pad-input: 20px;
$pad-button: 24px 288px;
$pad-search: 16px 20px 16px 44px;
$pad-menu: 15px 20px;
$pad-category: 4px 10px;
$pad-category-small: 4px 8px;
$pad-compare: 8px 10px;
$pad-statistics: 30px 74px;
