@use '@/asset/variables' as *;

@mixin button-style(
  $color: $white,
  $background: $blue,
  $padding: $pad-button,
  $radius: $radius-common,
  $border: $border-none,
  $height: 100px,
  $width: 100px,
  $justify-content: center,
  $align-items: center,
  $font-size: 16px,
  $font-weight: 600
) {
  padding: $padding;
  background: $background;
  cursor: pointer;
  color: $color;
  border: $border;
  border-radius: $radius;
  height: $height;
  width: $width;
  justify-content: $justify-content;
  align-items: $align-items;
  font-size: $font-size;
  font-weight: $font-weight;
}

.button {
  @include button-style();
}
