.button {
  background-color: var(--button-bg, $gradient);
  color: var(--button-color, $white);
  padding: var(--button-padding, $pad-button);
  border: var(--button-padding, none);
  border-radius: var(--button-padding, $radius);
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-bg, $indigo);
  }

  &:disabled {
    background-color: var(--button-disabled-bg, $gray);
    cursor: not-allowed;
  }
}
