$dark-black: #17171c;
$black: #181d26;
$light-black: #2e2e3a;
$border-black: #353542;

$dark-gray: #6e6e82;
$gray: #9fa6b2;
$white: #f1f1f5;

$indigo: #5363ff;
$blue: #5097fa;
$gradient: linear-gradient(91deg, $blue 0%, $indigo 100%);

$yellow: #ffc83c;
$green: #05d58b;
$pink: #ff2f9f;
$red: #ff0000;

$radi: 8px;
$radi-rank: 50px;
$radi-cates: 6px;
$radi-catef: 100px;
$radi-modal: 16px;

$border-red: 1px solid $red;
$border-black: 1px solid $border-black;
$border-blue: 1px solid $blue;

$pad-input: 23px 20px;
$pad-button: 24px 288px;
$pad-search: 16px 20px;
$pad-menu: 15px 20px;
$pad-cate: 4px 10px;
$pad-cates: 4px 8px;
$pad-catec: 8px 10px;
$pad-stat: 30px 74px;
