.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: #fff;
    line-height: normal;
    font: {
      size: 18px;
      weight: 500;
    }
  }

  img {
    display: block;
  }
}
